hydra-core
dvc
pytest
gdown
pandas
numpy
scikit-learn
great_expectations
matplotlib
seaborn
pylint
zenml[server]
apache-airflow==2.5.0
pendulum==2.0.0
feast
great_expectations
dvc
hydra-core
pytest
pandas
scikit-learn
pendulum
shyaml
mlflow
giskard
evidently
Flask
flask-session2
psycopg2-binary